table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
 
  tbody tr:nth-child(odd){ 
    background: #fcfcfc;
  }
  tbody tr:nth-child(even){
    background: #d1acf1;
  }