header {
    text-align: center;
    font-family: monospace;
    color: rgb(160, 188, 238);
    background-color: black;
    padding: 6px;

}

body {
    background-image: url("https://img.freepik.com/premium-photo/burning-dollar-black-background_250994-1849.jpg");
}

h2 {
    text-align: center;
    font-family: monospace;
    background-color: black;
    color: coral;
    padding: 3px;
    width: -20px;
}
form {
    align-self: center;
}
input[type=text] {
    background-color: #43dd55;
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
  }

  input[type=number] {
    background-color: #43dd55;
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;
  }

  input[type=number]:focus {
    width: 100%;
  }

table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px;
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
    background-color: black;
    color: aquamarine;
  }
 
  tbody tr:nth-child(odd){ 
    background: #13518300;
  }
  tbody tr:nth-child(even){
    background: #4b395b;
  }
  footer {
    background-color: black;
    color: coral;
    text-align: center;
    font-size: large;
    padding: 3px;
    width: -20px;
    font-family: monospace;
  }

  .over-budget {
    color: red;
    text-align: center;
    padding: 3px;
    width: -20px;
    font-family: monospace;
    font-size: large;
    animation: blinker 2s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }